body {
    background-color: #03b14e !important;
  }

  .earn{
    color: white;
    margin-left: 10vw;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .chart{
    background-color: white;
  }