body {
  background-color: #03b14e !important;
}

.menu {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.label{
    text-align: center;
    padding-bottom: 10px;
}

.info {
  padding-top: 10px;
  background-color: white;
  width: 90%;
  border-radius: 10px;
}

.name,
.email,
.mobile {
  padding-left: 10%;
  font-size: small;
}

.name{
    font-size: large;
}

.label2{
    text-align: center;
}

.input{
    padding-bottom: 20px;
}

.confirm {
    display: flex;
    justify-content: center;
  }
  
  .confirm-btn {
    margin-top: 3vh;
    background-color: #6c757d;
    width: 170px;
    height: 40px;
    border-radius: 5px;
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border: none;
    color: white;
    transition: background-color 0.3s ease-in-out;
  }
  
  .confirm-btn:hover{
    background-color: #5c636a;
  }

  .warning{
    color: red;
    padding-left: 20px;
    font-weight: 500;
  }